<div id="main" class="container-fluid">
<h4 class="page-header">Nova Munição </h4>

<%= render 'form', reservamunicao: @reservamunicao %>

 <a class="btn btn-default btn-sm"  <%= link_to 'Voltar', reservamunicaos_path %></a>
</div>