<div id="main" class="container-fluid">
<h4 class="page-header">Editar Controle</h4>

<%= render 'form', controle: @controle %>

<%= link_to 'Voltar', controles_path, class: 'btn btn-default btn-sm' %> 
</div>