<div id="main" class="container-fluid">
<h4 class="page-header">Novo Controle</h4>

<%= render 'form', controle: @controle %>

 <a class="btn btn-default btn-sm"  <%= link_to 'Voltar', controles_path %></a>
</div>