<div id="main" class="container-fluid">
<h4 class="page-header">Editar Item</h4>

<%= render 'form', reservaarmamento: @reservaarmamento %>

<%= link_to 'Voltar', reservaarmamentos_path, class: 'btn btn-default btn-sm' %> 
</div>