<div id="main" class="container-fluid">
<h4 class="page-header">Novo Militar</h4>

<%= render 'form', militar: @militar %>

 <a class="btn btn-default btn-sm"  <%= link_to 'Voltar', militars_path %></a>
</div>