<div id="main" class="container-fluid">
<h4 class="page-header">Novo Armamento</h4>

<%= render 'form', armamento: @armamento %>

 <a class="btn btn-default btn-sm"  <%= link_to 'Voltar', armamentos_path %></a>
</div>