<div id="main" class="container-fluid">
<h4 class="page-header">Editar Reservamaterial</h4>

<%= render 'form', reservamaterial: @reservamaterial %>

<%= link_to 'Voltar', reservamaterials_path, class: 'btn btn-default btn-sm' %> 
</div>