<div id="main" class="container-fluid">
<h4 class="page-header">Novo Reservamaterial</h4>

<%= render 'form', reservamaterial: @reservamaterial %>

 <a class="btn btn-default btn-sm"  <%= link_to 'Voltar', reservamaterials_path %></a>
</div>