<div id="main" class="container-fluid">
<h4 class="page-header">Editar Munição</h4>

<%= render 'form', municao: @municao %>

<%= link_to 'Voltar', municaos_path, class: 'btn btn-default btn-sm' %> 
</div>