<div id="main" class="container-fluid">
<h4 class="page-header">Nova Munição</h4>

<%= render 'form', municao: @municao %>

 <a class="btn btn-default btn-sm"  <%= link_to 'Voltar', municaos_path %></a>
</div>