<div id="main" class="container-fluid">
<h4 class="page-header">Novo Item</h4>

<%= render 'form', cautelaarmamento: @cautelaarmamento %>

<a class="btn btn-default btn-sm"  <%= link_to 'Voltar', cautelaarmamentos_path(:reserva_id =>params[:reserva_id], :cautela_id =>params[:cautela_id]) %></a>
</div>
</div>