<p id="notice"><%= notice %></p>
<div id="main" class="container-fluid">
<h4 class="page-header">Visualizar</h4>

<p>
  <strong>Militar:</strong>
  <%= @usermilitar.militar.nome %>
</p>

<p>
  <strong>User:</strong>
  <%= @usermilitar.user.nome %>
</p>


</div>
<a class="btn btn-default btn-sm"  <%= link_to 'Voltar', usermilitars_path %> </a>