<div id="main" class="container-fluid">
<h4 class="page-header">Novo Acessório</h4>

<%= render 'form', acessorio: @acessorio %>

 <a class="btn btn-default btn-sm"  <%= link_to 'Voltar', acessorios_path %></a>
</div>