<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @acessorio.descricao %>
</p>

<%= link_to 'Edit', edit_acessorio_path(@acessorio) %> |
<%= link_to 'Back', acessorios_path %>
