// Place all the styles related to the controles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.titulo_item{
		color:darkgreen;
		/* Poderia usar:;
		color: #ff0000;*/
		/* Poderia usar:;
		color: rgb(255, 0, 0);*/
	}