<div id="main" class="container-fluid">
<h4 class="page-header">Baixar Item</h4>

<%= render 'form', cautelaacessorio: @cautelaacessorio %>

<%= link_to 'Voltar', cautelaacessorios_path(:reserva_id =>params[:reserva_id], :cautela_id =>params[:cautela_id]), class: 'btn btn-default btn-sm' %> 
</div>