<div id="main" class="container-fluid">
<h4 class="page-header">Editar</h4>

<%= render 'form', cautelaacessorio: @cautelaacessorio %>

<%= link_to 'Voltar', cautelaacessorios_path, class: 'btn btn-default btn-sm' %> 
</div>